@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Cafe24Ssurround';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@layer base {
  body {
    @apply font-pretendard bg-color-bg pt-32 px-[7.5rem] text-base-sm 2xl:text-base-md;
  }

  h1, h2, h3, p, input, button, fieldset, textarea, ol, ul, li, img, a, button {
    @apply m-0 p-0;
  }
  
  div {
    @apply select-none cursor-default;
  }

  ol, ul, li {
    @apply list-none;
  }

  img {
    @apply max-w-full h-auto align-top;
  }

  a {
    @apply text-inherit no-underline;
  }

  button {
    @apply cursor-pointer text-inherit border-0 tracking-m1;
  }
}

@layer components {
  .box {
    @apply p-10 bg-white rounded-lg border border-gray-200 flex flex-col;
  }

  .notice {
    @apply px-6 py-3 rounded-lg;
    background-color: rgba(255, 202, 65, 0.5);
  }

  .greenBox {
    @apply px-1 py-2 rounded-lg;
    background-color: rgba(3, 187, 163, 0.6);
  }

  .redBox {
    @apply px-1 py-2 rounded-lg;
    background-color: rgba(232, 64, 87, 0.6);
  }

  .grayBox {
    @apply px-1 py-2 rounded-lg bg-gray-100;
  }


  .containerTitle {
    @apply text-gray-900 text-base font-bold;
  }

  .divInBody {
    @apply max-w-full mx-auto pt-4;
  }

  .cardGrid2 {
    @apply divInBody grid grid-cols-2 gap-6;
  }

  .cardGrid3 {
    @apply grid gap-6 mb-6;
    grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
  }

  @screen md {
    .cardGrid3 {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @screen lg {
    .cardGrid3 {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  

  .cardGrid4 {
    @apply grid gap-6 mb-6;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  }

  @screen md {
    .cardGrid4 {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @screen lg {
    .cardGrid4 {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  .problemGrid3 {
    @apply grid grid-cols-3 gap-x-10 gap-y-1 auto-rows-fr bg-gray-100 whitespace-nowrap overflow-x-auto;
  }


  .icon {
    @apply p-0 justify-center items-center text-2xl;
  }

  .tag {
    @apply  border-gray-500 bg-white font-semibold inline-flex items-center py-1 px-3 rounded-full text-gray-600 text-sm;
  }
  
  .hidden-scrollbar::-webkit-scrollbar {
    display: none; /* 웹킷 브라우저 (크롬, 사파리 등)에서 스크롤바 숨기기 */
  }
  
  .hidden-scrollbar {
    -ms-overflow-style: none;  /* 인터넷 익스플로러에서 스크롤바 숨기기 */
    scrollbar-width: none;  /* 파이어폭스에서 스크롤바 숨기기 */
  }

}
