@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Cafe24Ssurround';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@layer base {
  body {
    @apply font-pretendard bg-color-bg pt-32 px-[7.5rem];
  }

  h1, h2, h3, p, input, button, fieldset, textarea, ol, ul, li, img, a, button {
    @apply m-0 p-0;
  }
  
  div {
    @apply select-none cursor-default;
  }

  ol, ul, li {
    @apply list-none;
  }

  img {
    @apply max-w-full h-auto align-top;
  }

  a {
    @apply text-inherit no-underline;
  }

  button {
    @apply cursor-pointer text-inherit border-0 tracking-m1;
  }
}

@layer components {
  .box {
    @apply p-10 bg-white rounded-lg border border-gray-200 flex flex-col;
  }
  .notice {
    @apply px-6 py-[13px] bg-color-yellow-w50 rounded-lg text-gray-700;
  }

  .containerTitle {
    @apply text-gray-900 text-base font-bold;
  }

  .divInBody {
    @apply max-w-full mx-auto pt-4;
  }

  .cardGrid2 {
    @apply divInBody grid grid-cols-2 gap-6;
  }

  .cardGrid3 {
    @apply grid grid-cols-3 gap-6 mb-6 auto-rows-fr;
  }

  .cardGrid4 {
    @apply grid grid-cols-4 gap-6 mb-6;
  }

  .icon {
    @apply p-0 justify-center items-center text-2xl;
  }

  .tag {
    @apply  border-gray-500 bg-white font-semibold inline-flex items-center py-1 px-3 rounded-full text-gray-600 text-sm;
  }
}
